* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: #212121;
    --green: #009660;
    --white: #e9e9e9;
    --black: #0c0c0c;
    --lgray: #929292;
}

.green {
    color: var(--green);
}

.lgray {
    color: var(--lgray);
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    position: fixed;
    width: 100%;
}

.nav1 {
    display: flex;
    align-items: center;
    gap: 18px;

}

.nav1 h4 {
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.2;


}

.nav1 img {
    height: 50px;
    border-radius: 10px;
}

.nav2 {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav2 h4 {
    font-family: monospace;
    font-size: 18px;
    font-weight: 100;

}

.nav2 img {
    height: 25px;
    border-radius: 50%;
    width: 25px;
}

.nav3 {
    display: flex;
    gap: 25px;
    display: none;
    align-items: center;
}

.nav3 h4 {
    font-family: monospace;
    font-size: 18px;
    font-weight: 100;

}

.nav3 img {
    height: 25px;
    border-radius: 50%;
    width: 25px;
}

@media (max-width:800px) {
    nav {
        padding: 15px 28px;
    }

    .nav1 img {
        height: 30px;
    }

    .nav1 h4 {
        font-size: 12px;
    }

    .nav2 {
        display: none;
    }

    .nav3 {
        display: flex;
    }

}

main {
    padding-top: 100px;
}

.section1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 70px;
}

.section1 .left {

    width: 43%;
}

.left h5 {
    color: var(--green);

}

.cta button {
    background: var(--green);
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;

}

.cta button:nth-child(2) {
    background-color: var(--gray);
}

.section1 .left h1 {
    font-size: 34px;
}

.section1 .left .tags {
    display: flex;
    align-items: center;
    gap: 5px 5px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.left .price .lgray {
    font-size: 15px;
    font-weight: 600;
    text-decoration: line-through;

}

.section1 .left .tags h4 {
    background-color: var(--gray);
    padding: 8px 20px;
    border-radius: 5px;
    white-space: nowrap;
}

.left .price {
    font-size: 35px;
}


.section1 .right .right-in {
    border-radius: 10px;
    overflow: hidden;
    width: 500px;

}

.section1 .right .right-in .image {
    width: 100%;

}

.section1 .right .right-in .image img {
    width: 100%;
}

.section1 .right .right-in .image-bottom {
    padding: 20px;
    background-color: var(--gray);
    padding-top: 40px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}

.right-in .image-bottom h4 {
    background-color: #151515;
    padding: 10px 15px;
    width: 45%;
    border-radius: 5px;
}

@media (max-width:1200px) {
    .section1 .left h1 {
        font-size: 3vw;
    }

    /* when the width lies between 0-800px then all below properties will be applied*/
    @media (max-width:800px) {
        main {
            padding-top: 50px;
        }

        .section1 .left h1 {
            font-size: 25px;
        }

        .section1 {
            flex-direction: column-reverse;
            padding: 20px;
        }

        .section1 .left {
            /* that means it will take width acc to screen*/
            width: 100%;

        }

        .section1 .left .tags h4 {
            font-size: 3vw;
        }

        .section1 .left .price {
            font-size: 4vw;
        }
   .section1 .left .cta{
    display: flex;
    align-items:start;
    justify-content: space-between;
   }
        .section1 .left .cta button {
        
            padding: 6px 18px;
            border-radius: 5px;
            font-size: 15px;
            margin-bottom: 4px;
            margin-top: 7px;


        }
       
        .section1 .left h5{
            font-size:2vw;
        }
        .section1 .left h6{
            font-size: 2vw;
        }

        .section1 .right .right-in {
            /* that means it will take width acc to screen*/
            width: 100%;
            margin-bottom: 15px;
        }

        .section1 .right .right-in .image {
            width: 100%;
        }

        .section1 .right .right-in .image img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .image-bottom .right .right-in .image-bottom {
            padding: 10px;
            padding-top: 20px;
            gap: 8px;

        }

        .right-in .image-bottom h4 {
            background-color: #151515;
            padding: 5px 8px;
            width: 45%;
            border-radius: 5px;
            font-size: 2.5vw;
        }
    }

}

@media (max-width:600px) {
    .section1 .left h1 {
        font-size: 3.7vw;
    }
}